/* CSS for Input component */

.main-input-container {
    position: relative;
    margin-bottom: 10px;
}

.input-container {
    position: relative;
    height: 30px;
    line-height: 20px;
}

.input-container input {
    position: absolute;
    border: 1px solid var(--bg-black-200);  
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 14px;
    transition: 0.1s ease;
    z-index: 1;
    width: 100%;
}

.label {
    position: relative;
    font-size: 14px;
    display: inline-block;
    margin-top: 6px;
    z-index: 1;
    transition: 0.2s ease;
    padding: 0 16px;
    color: var(--text-black-700);
}

.errorMsgStyle {
    margin-top: 5px;
    font-size: 13px;
    color: var(--danger);
}

.input-container input:focus,
.input-container input:valid {
    border: 1px solid var(--skin-color-medium);
}

.input-container input:focus ~ .label,
.input-container input:valid ~ .label {
    line-height: 12px;
    z-index: 5;
    padding: 0 5px;
    transform: translate(5px, -11px) scale(0.82);
    background: var(--bg-black-100);
    border-left: 1px solid var(--skin-color-medium);
    border-right: 1px solid var(--skin-color-medium);
    pointer-events: auto;
    color: var(--skin-color-medium);
}


