/* Contains CSS for Main Page */

.main-page-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-style {
    animation: end-spinner 1s linear;
    height: 100px;
    width: 100px;
}

@keyframes end-spinner {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}