/* Contains CSS for Main Page component */

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.spinner-style {
    animation: end-spinner 1s linear;
    height: 120px;
    width: 120px;
}

@keyframes end-spinner {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}