/* CSS for Portfolio component */

.portfolio-main-container {
    display: flex;
    /* width: 100vw; */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation: initial-load 1s linear;
}

@keyframes initial-load {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    opacity: 1;
    padding: 0 30px;
}

.main-content-section {
    padding-left: 270px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 25px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: "";
    height: 3px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: "";
    height: 3px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.padd-15 {
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    flex-direction: row;
    position: relative;
}

.btn {
    font-size: 15px;
    font-weight: 500;
    padding: 7px 25px;
    color: white;
    border-radius: 12px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
    filter: drop-shadow(0 5px 5px var(--text-black-700));
}

.btn:hover {
    transform: scale(1.05);
}

.hidden {
    display: none !important;
}

/* ******** Home Section ******** */

.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
    justify-content: space-evenly;
}

h3.name-tag {
    font-size: 25px;
    margin: 15px 0;
}

h3.name-tag span {
    font-size: 40px;
    font-weight: 700;
    color: var(--skin-color);
    font-family: 'Stylish', sans-serif;
}

h3.my-profession {
    font-size: 24px;
    margin: 30px 0 10px 0;
}

h3.my-profession span {
    color: var(--skin-color);
}

.home .home-info p {
    margin-bottom: 70px;
    font-size: 15px;
    color: var(--text-black-700);
    line-height: 25px;
}

.btn_resume {
    margin-top: -30px;
}

.home .dp-img {
    flex: 0 0 40%;
    max-width: 40%;
    position: relative;
    text-align: center;
}

.home .dp-img img {
    height: 300px;
    width: 250px;
    margin: auto;
    border-radius: 8px;
}

.dp-img::before {
    content: '';
    position: absolute;
    height: 70px;
    width: 160px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: 20px;
    top: -40px;
}

.dp-img::after {
    content: '';
    position: absolute;
    height: 70px;
    width: 150px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 20px;
    bottom: -35px;
}

/* ******** About Section ******** */

.about {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
    color: var(--skin-color);
    font-family: 'Stylish', sans-serif;
    font-size: 25px;
}

.about .about-content .about-text p {
    color: var(--text-black-700);
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}

.about .about-content .about-text p::first-letter {
    margin-left: 40px;
}

.personal-info-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-top: 5px;
}

.about .about-content .personal-info-section .personal-info {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .about-content .personal-info-section .personal-info p {
    font-size: 14px;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--bg-black-150);
    padding: 5px 10px;
}

.about .about-content .personal-info-section .personal-info p span:nth-child(1) {
    width: 120px;
    float: left;
    color: var(--text-black-900);
    font-weight: bold;
}

.about .about-content .personal-info-section .personal-info p span:nth-child(2) {
    width: 250px;
    float: right;
}

.about .about-content .resume-contact-btn-section {
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 10px;
    flex: 0 0 100%;
    padding: 10px;
}

.about .about-content .resume-contact-btn-section .resume-btn {
    margin-right: 10px;
}

.about .about-content .resume-contact-btn-section .contact-btn {
    margin-left: 10px;
    padding: 9.5px 25px;
    background-color: var(--bg-black-100);
    color: var(--text-black-900);
    font-weight: bold;
    white-space: nowrap;
}

.edu-exp-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin-top: 5px;
}

.about .about-content .edu-exp-section edu-exp-section-item {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .about-content .edu-exp-section .edu-exp-section-item h3 {
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .edu-exp-section .edu-exp-section-item .edu-exp-container {
    width: 420px;
    background-color: var(--bg-black-100);
    padding: 30px 20px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.75rem var(--bg-black-200));
    border: 1px solid var(--bg-black-150);
    position: relative;
}

.about .about-content .edu-exp-section .edu-exp-section-item .edu-exp-container .timeline-item {
    border-left: 3px solid var(--skin-color);
    padding-left: 15px;
    padding-bottom: 35px;
}

.circle-dot {
    height: 13px;
    width: 13px;
    background-color: var(--skin-color);
    margin-left: -22.5px;
    border-radius: 50px;
    position: absolute;
}

.edu-exp-content-container {
    margin-top: 10px;
}

.timeline-date-place {
    margin-bottom: 10px;
}

.time-line-icon {
    font-size: 15px;
    margin-right: 10px;
}

.about .about-content .edu-exp-section .edu-exp-section-item h3.timeline-date {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    color: var(--text-black-700);
}

.about .about-content .edu-exp-section .edu-exp-section-item h4.timeline-title {
    margin: 3px 0 10px 0;
    font-weight: 600;
    color: var(--text-black-900);
}

.about .about-content .edu-exp-section .edu-exp-section-item .timeline-item .edu-details {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

.about .about-content .edu-exp-section .edu-exp-section-item .timeline-item .edu-details p {
    font-size: 14px;
    margin-left: -9px;
}

.about .about-content .edu-exp-section .edu-exp-section-item .timeline-item .edu-details p span:nth-child(1) {
    width: 100px;
    float: left;
    color: var(--text-black-900);
    font-weight: bold;
}

.about .about-content .edu-exp-section .edu-exp-section-item .timeline-item .edu-details p span:nth-child(2) {
    width: 250px;
    float: right;
}

/* ******** Skills Section ******** */

/* ******** Projects Section ******** */

/* ******** Contact Section ******** */

.contact {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.contact .contact-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-main-container {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 1030px; */
}

.contact .contact-main-container .feel-free-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
}

.contact .contact-main-container .feel-free-contact h3 {
    font-size: 19px;
    margin-bottom: 0px;
    font-weight: 700;
    color: var(--skin-color);
}

.contact .contact-main-container .feel-free-contact p {
    margin-bottom: 0px;
    color: var(--text-black-900);
}

.contact .contact-main-container .contact-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
    padding: 10px 20px;
}

.contact .contact-main-container .contact-details .contact-details-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
    padding: 10px 20px;
    margin: 0 10px;
}

.contact .contact-main-container .contact-details .contact-details-item .detail-icon {
    color: var(--skin-color);
    font-size: 30px;
    margin-bottom: 5px;
}

.contact .contact-main-container .contact-details .contact-details-item h4 {
    color: var(--text-black-900);
    font-size: 16px;
}

.contact .contact-main-container .contact-details .contact-details-item p {
    color: var(--text-black-900);
    font-size: 15px;
    margin-bottom: 5px;
}